<template name="governmentDesktopNavigation">


  <div class="container-fluid d-noSidePadding" style="position: fixed; width: 100%; z-index: 1; border-top: 5px solid #0094ff;">
    <header class="govDestopNavBar">
      <div class="" style="font-weight: bold;">
        <nav class="navbar" style="border-top: 0px;">
          <div class="navbar-header" style="">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="comfortaa logo" href="#qbila-slideOne">Qbila</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="">
                  Home
                </a>
              </li>
              <li>
                <a href="">
                  <span class=""
                        style="display: inline-block; background: red; color: #ffffff; font-weight: bold; font-family: arial;
                               line-height: 1; padding: 4px; border-radius: 4px; font-size: 11px; position: absolute; top: -5px; right: 5px;">
                    2
                  </span>
                  <span style="z-index: 1;">Forms</span>
                </a>
              </li>
              <!--
              <li>
                <a href="">
                  <span class=""
                        style="display: inline-block; background: red; color: #ffffff; font-weight: bold; font-family: arial;
                               line-height: 1; padding: 4px; border-radius: 4px; font-size: 11px; position: absolute; top: -5px; right: 5px;">
                    21
                  </span>
                  <span style="z-index: 1;">Open Issues</span>
                </a>
              </li>
              -->
              <!--
              <li>
                <a href="">Department</a>
              </li>
              -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ashish <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="">Profile</a></li>
                  <!--
                  <li><a href="">Messages</a></li>
                  -->
                  <li><a href="">Your Content</a></li>
                  <li role="separator" class="divider"></li>
                  <!--
                  <li><a href="">Settings</a></li>
                  -->
                  <li><a class="a-logout">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>

</template>
