body {font-family: 'Roboto';}

body .fa {color: #ffffff;}

a.logo
	{font-size: 35px; color: #ffffff;}

	header a
		{color: #ffffff;}

		@font-face {
			font-family: 'MyriadPro-Light';
			src: url('/fonts/MyriadPro-Light.eot');
			src: url('/fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
			     url('/fonts/MyriadPro-Light.woff') format('woff'),
			     url('/fonts/MyriadPro-Light.ttf') format('truetype');
		}

		@font-face {
			font-family: 'Roboto';
			src: url('/fonts/Roboto-Regular.ttf') format('truetype');
		}

		.myriadpro-light {
		  font-family: MyriadPro-Light, 'Helvetica Neue', Georgia, 'Times new roman';
		  font-style: normal;
		  font-variant: normal;
		  font-weight: 300;
		}



.a-organisationLinks a { text-transform: capitalize;}
.a-organisationLinks a:first-child {}
.a-socialLinks a {font-size: 24px; color: #404040; margin-right: 10px;}
.a-socialLinks a:hover {text-decoration: none;}

.a-allAlerts .d-unit {
	border: 1px solid #fc3d32;
	-moz-box-shadow: 0 0 10px #fc3d32;
	-webkit-box-shadow: 0 0 10px #fc3d32;
	box-shadow: 0 0 10px #fc3d32;
}
.a-organisationInfo {
  padding-left: 60px;
  position: relative;
  min-height: 50px;
}

.a-organisationInfo .d-image {
  width: 50px; height: 50px; position: absolute; left: 0px;
}

.a-actionableServices .a-organisationInfo {
  padding-left: 50px;
  position: relative;
  min-height: 40px;
}

.a-actionableServices .a-organisationInfo .d-image,
.a-actionableIssues .a-organisationInfo .d-image {
  width: 40px; height: 40px; position: absolute; left: 0px;
}

.a-organisationLogoSmall {
  width: 40px; height: 40px; display: inline-block;
}

.a-organisationLogoSmall img,
.a-organisationInfo .d-image img {
  width: 100%;
}

.d-metaInfo a, .d-metaInfo {
  color: #808080;
  font-size: 12px;
}

.a-actionableServices .d-unit .d-content {
  margin-top: 10px;
}

.a-actionableServices .d-unit .d-callToAction {
  margin-top: 10px;
}

.a-actionableIssues .d-unit .d-content {
  font-size: 18px;
}

.a-resolvedIssues .d-content,
.a-actionableServices .d-content
	{font-size: 13px;}

.d-labels {margin-top: 5px;}

.a-actionableServices .d-unit, .a-actionableIssues .d-unit {margin-bottom: 15px;}

.a-actionableIssues .d-unit {}

.nav>li>a:hover, .nav>li>a:focus {background-color: rgba(255, 255, 255, 0.3); border-color: rgb(116, 231, 252);}

@media (min-width: 768px) {
	.navbar-nav>li>a {padding-bottom: 13px; border-bottom: 3px solid transparent; padding-top: 18px;}
}

.a-actionableIssues .d-unit .a-organisations {margin-top: 5px;}
.a-actionableIssues .d-unit .a-organisations a {}
.a-postMedia {margin-top: 15px;}
.a-postMedia .d-image img {width: 100%;}

.a-resolvedIssues a {color: #404040;}
.a-resolvedIssues a:hover {text-decoration: none;}
.a-resolvedIssues .d-unit {margin-bottom: 15px;}

.a-resolvedIssues .d-unit {font-size: 12px;}

.a-locationInfo .a-geographicHierarchy,
.a-locationInfo .a-loction
  {margin-top: 5px; line-height: 1;}


.a-contextTitle
	{border-bottom: 1px dashed #d5d5d5; padding: 10px;}

.a-contextTitle	h1
	{margin: 0px; display: inline-block; font-size: 30px;}

.a-contextTitle .a-helpText {color: #808080; margin-left: 5px;}

.a-mainContent {margin-top: 15px;}

.a-slideContainer .a-slide {
	white-space: nowrap; position: relative;
	background-color: #ffffff; text-align: center; padding: 80px 0px;
}

.a-slideContainer .a-slide:before
	{
		content: " "; display: inline-block; height: 100%; vertical-align: middle;
		margin-right: -0.25em;
	}

.a-slide .a-slideContent
	{
		white-space: normal; display: inline-block; vertical-align: middle;
		width: 100%; max-width: 980px;
	}

.a-slide .a-nextSlide  {position: absolute; width: 100%; bottom: 15px; color: #ffffff;}

.a-slide.a-slide-striking {max-height: 505px;}

.a-slideContent h1 {
	color: #f5f5f5; font-weight: lighter; letter-spacing: 1px; font-size: 50px;
}


.a-infoLine {
	display: inline-block; width: 80px; height: 80px;
	border-radius: 50%; -moz-border-radius: 50%;
	-webkit-border-radius: 50%; border: 1px solid #8ED0FF;
	text-align: center; margin-left: 20px; background: #0094FF;
	color: #ffffff;
}
.a-infoLine:first-child {margin-left: 0px;}
.a-infoLine:hover {background: #59B4F5; color: #ffffff;}

.a-infoLine .d-text
	{display: inline-block; position: relative; top: 30px; font-size: 15px;}

body > .d-wrapper, body, html {height: 100%;}
.qbilaMain {padding-top: 84px; height: 100%; padding-bottom: 32px;}
.qbilaMain > div {padding: 15px 10px; height: 100%; overflow-y: scroll; overflow-x: hidden;}
.qbilaMain .a-actionableIssues {height: 100%; overflow-y: scroll;}

header.navbar .fa {font-size: 18px; padding: 15px;}
.a-navbarIcons {padding-left: 7px; padding-right: 0px;}

.d-homeLayout .qbilaMain,
.d-profileLayout .qbilaMain
	{padding-top: 52px; background: #f5f5f5;}
	/*EBF7FF*/

.a-followedCities .fa-check {display: none;}
.a-followedCities .fa {margin-top: 12px; padding: 5px; margin-left: 7px;}
.a-followedCities .a-active .fa-check {display: inline-block;}
.a-followedCities .a-active {background: #59B4F5;}
.fa .fa-map-marker {}

.a-notifications {
	margin-top: 12px; padding: 5px; display: inline-block; font-size: 12px;
	line-height: 1; background: #ffffff; color: #404040; border: 1px solid #0094FF;
}

.navbar-collapse {
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

a.fa:hover {text-decoration: none;}


.d-unit .a-areaContext {color: #808080; font-size: 12px; margin-bottom: 5px;}

.a-allHeadlines .a-headline,
.a-allAlerts .a-headline {
	position: relative; padding-left: 70px; min-height: 70px;
}

.a-headline .d-content .d-title {font-size: 15px; margin-bottom: 5px; line-height: 1.2; color: #404040;}
.a-headline .d-content .d-title:hover {text-decoration: none; color: #202020;}

.a-callToAction {
	padding-top: 7px;
}

.a-headline .d-image {
	position: absolute; left: 0px; width: 60px;
	height: 70px; color: #ffffff;
	font-weight: bold; text-align: center; padding-top: 20px;
	font-size: 14px; overflow: hidden;
}

.a-headline .d-image.a-national {background-color: rgb(204, 0, 0);}
.a-headline .d-image.a-state {background-color: #4ca64c;}
.a-headline .d-image.a-district {background-color: #3ad2ff;}
.a-headline .d-image.a-municipal {background-color: #FFC425;}
.a-headline .d-image.a-ward {background-color: #505050; color: #e5e5e5;}
.a-headline .d-image.a-colony {background-color: #e5e5e5; color: #404040;}

.a-headline .d-image .a-department {letter-spacing: 1px;}
.a-headline .d-image .d-regionContext {
	font-weight: normal; position: absolute; width: 100%; bottom: 0px;
	border-top: 1px dotted #ffffff;
}

.a-allHeadlines .d-engagement {
	border-top: 1px dotted #d5d5d5; margin-top: 8px; padding-top: 8px;
}

.a-allHeadlines .d-unit {
	margin-bottom: 18px;
	background: #ffffff;
}

.d-engagement .d-upVote,
.d-engagement .d-expressions,
.d-engagement .d-share {
	display: inline-block; padding: 2px 10px; border: 1px solid #d5d5d5; font-size: 12px;
}

.d-engagement .d-upVote:hover, .d-engagement .d-upVote:active,
.d-engagement .d-expressions:hover, .d-engagement .d-expressions:active,
.d-engagement .d-share:hover, .d-engagement .d-share:active {
	background: #e5e5e5;
}

.d-engagement .d-upVote.d-active,
.d-engagement .d-expressions.d-active,
.d-engagement .d-share.d-active {
	background: #D1E7F7;
}

.d-engagement .d-upVote .d-count {font-weight: bold;}

.a-headline .d-meta {font-size: 12px; color: #808080; margin-bottom: 5px;}

.a-alertCodeRed .a-alertMessage {background: #fc3d32; color: #ffffff; margin: -10px -12px 5px -11px; font-size: 12px; padding: 5px;}

.a-userProfile .d-profileNav {margin-top: 10px; margin-bottom: 10px;}
.a-userProfile .d-profileNav ul {
	background: #ffffff;
}
.a-userProfile .d-profileNav ul li {
  border-bottom: 1px solid #808080; border-top: 1px solid #808080; border-left: 1px solid #808080;
  padding: 0px; font-size: 12px;
}
.a-userProfile .d-profileNav li a {
  padding: 10px; display: inline-block; width: 100%; color: #808080;
}

body .a-sharedInfo .fa {color: #c0c0c0; font-size: 16px; padding: 0px 5px;}
body .a-sharedInfo .a-active.fa {color: #404040;}
.a-sharedInfo .a-sharedStatus {}

.a-contributions .d-unit,
.a-sharedInfo .d-unit {
	margin-bottom: 10px;
}

.a-sharedInfo .d-unit > * {padding: 0px 10px; font-size: 12px; font-weight: normal;}
.a-sharedInfo .d-unit > *:first-child {padding-left: 0px; width: 100px;}
.a-sharedInfo .d-unit > *:last-child {padding-right: 0px;}

.d-engagement .fa {
	color: #000000;
}


.a-followed .d-unit {margin-bottom: 10px;}
.a-sharedInfo .d-unit {background: #ffffff;}

.a-allHeadlines .a-postSourceType {
	position: absolute; top: -7px; right: 5px; border-radius: 0px; font-size: 11px; padding: 3px 5px;
}
.a-allHeadlines .d-unit {position: relative; padding-top: 12px;}
.a-storyDetails .d-unit {background: #ffffff;}


.modal-dialog .modal-content {border-radius: 0px;}
.modal-header {padding: 10px 15px; text-align: center; border-bottom: 1px dotted #e5e5e5;}


.d-engagement a {color: #404040;}
.d-engagement a:hover, .d-engagement a:focus {text-decoration: none;}

.a-engagementCount {
	font-size: 12px; border-top: 1px dotted #d5d5d5;
	padding-top: 8px; margin-top: 8px; line-height: 1;
}

#expressEditor .fr-wrapper {
	border: 0px; box-shadow: 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px; -moz-box-shadow: 0px 0px 0px;
}

#expressEditor .fr-toolbar,
#expressEditor .fr-counter
	{display: none;}

.a-expressionBox {
  border-top: 1px dotted #e5e5e5; margin-top: 5px;
  padding-left: 60px; position: relative; padding-right: 55px;
	padding-bottom: 10px; padding-top: 10px;
}



.a-expressionBox .d-image img {
  width: 40px; height: 40px; position: absolute; left: 10px;
}

.a-expressionBox  .a-postExpression {position: absolute; right: 10px; top: 15px;}
#expressModal.modal {padding: 0px; height: 100%;}
#expressEditor {line-height: 1.2;}
#expressEditor p {margin-bottom: 5px;}

a[href="https://froala.com/wysiwyg-editor"] {display: none!important;}
