/*****************************************************************/
/* SCREEN.CSS - STYLES FOR V3
/* DIVIDED IN FOLLOWING PARTS */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/* ==> ADD TO OR OVERRIDE LIBRARY STYPES */
/*****************************************************************/



html
	{background: #ffffff;}
ul, ol
	{list-style: none; padding: 0; margin: 0;}

h3, .h3 {font-size: 16px;}

h2, .h2 {font-size: 20px;}

h1, .h1 {font-size: 28px;}

textarea {resize: none;}

a {cursor: pointer;}

a:hover, a:focus {
  text-decoration: underline;
}


/*****************************************************************/
/********* START : ADD TO OR OVERRIDE LIBRARY STYPES *************/
/*****************************************************************/

/***** START : BOOTSTRAP ******/

@media (min-width: 1200px){
	.container {width: 976px;}
}

@media (min-width: 992px){
	.container {width: 976px;}
}

/*
.navbar-brand {
	padding: 15px 0px;
}
*/

.btn-white {
  background: #fff;
  color: rgb(200,37,6);
  cursor: pointer;
}

.btn-white:hover {
  background-color: #340a02;
  color: #fff;
}

.btn-white-border {
  border: 1px solid #ccc;
}

.btn-white-border:hover {
  color: #fff;
  background: rgb(200,37,6);
  border: 1px solid rgb(200,37,6);
}

.btn-transparent {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: transparent;
  *background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  background-repeat: repeat-x;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.25);
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent.active,
.btn-transparent.disabled,
.btn-transparent[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-transparent:active,
.btn-transparent.active {
  background-color: #942a25 \9;
}

header.navbar
	{background: #0094FF; margin-bottom: 0px;}



a.navbar-brand
	{display: inline-block;}

a.navbar-brand img
	{height: 30px;}

.icon-bar
	{background-color: #ffffff;}

.dropdown-menu .active>a, .dropdown-menu .active>a:hover, .dropdown-menu li>a:hover
	{background-color: #E04F48; color: #f5f5f5;}

header a
	{color: #ffffff;}

header.navbar
	{border-bottom: 1px solid #e5e5e5;}

header	.navbar-toggle
	{margin-right: 0px;}

.nav > li > a:hover, .nav > li > a:focus
	{color: #ffffff;}

.nav > li > a.btn-context:hover, .nav > li > a.btn-context:focus
	{background-color: #561002; border-color: #561002;}

.btn-context
	{color: #0094FF; background-color: #fff; border-color: #ccc;}

.btn-context:hover,
.btn-context:focus,
.btn-context.focus,
.btn-context:active,
.btn-context.active,
.open > .dropdown-toggle.btn-context
	{background-color: #561002; border-color: #561002;}

.btn-context:active,
.btn-context.active,
.open > .dropdown-toggle.btn-context
	{background-image: none;}

.btn-extraRounded
	{border-radius: 30px; padding: 10px 25px; border-color: transparent;}

.navbar-nav > li > a.navButton
	{padding: 10px 25px; margin: 5px;}


.btn-link {color: #0094FF;}

.btn-link:hover, .btn-link:focus {color: #F54828; text-decoration: none;}

.btn-red {
  background: #0094FF;
  color: #fff;
  cursor: pointer;
}

.btn-red:hover, .btn-red:focus {
  background: #F54828;
  color: #fff;
}

/***** END : BOOTSTRAP ******/

/********* START : TWITTER TYPEAHEAD **********/
.tt-dropdown-menu {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 0px;
	padding: 0 0 4px 0;
	width: 100%;
	color: #333;
	box-sizing:border-box;
	line-height: 30px;
	max-height: 210px;
	overflow-y: scroll;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-suggestion {
    font-size: 14px;
    padding: 2px 10px;
    border-top:1px solid #ccc;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: rgb(200,37,6);
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead{
	width : 100%;
}

/********* END : TWITTER TYPEAHEAD **********/

/*****************************************************************/
/********* END : ADD TO OR OVERRIDE LIBRARY STYPES *************/
/*****************************************************************/


/*****************************************************************/
/************ START: SUPPORT FOR SITE.CSS STYLES*******************/
/*****************************************************************/

@font-face {
	font-family: 'MyriadPro-Light';
	src: url('../fonts/MyriadPro-Light.eot');
	src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/MyriadPro-Light.woff') format('woff'),
	     url('../fonts/MyriadPro-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'centuryGothic';
	src: url('../fonts/gothic.eot');
	src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/gothic.woff') format('woff'),
	     url('../fonts/gothic.ttf') format('truetype');
}

@font-face {
	font-family: 'comfortaa';
	src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
	font-family: 'Chunkfive';
	src: url('../fonts/Chunkfive.otf');
}

.comfortaa {
	font-family: comfortaa;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

.chunkfive {
	font-family: Chunkfive;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.myriadpro-light {
  font-family: MyriadPro-Light, 'Helvetica Neue', Georgia, 'Times new roman';
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.centuryGothic {
	font-family: 'centuryGothic', 'Helvetica Neue', Georgia, 'Times new roman';
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
}

.share {
	margin-right: 10px;
	width: 26px;
  	height: 26px;
  	display: inline-block;
}

.gplus_share_small {
  background-image: url(/img/gplus_share_small.png);
  background-repeat: no-repeat;
}

.twitter_share_small {
  background-image: url(/img/twitter_share_small.png);
  background-repeat: no-repeat;
}

.fb_share_small {
  background-image: url(/img/fb_share_small.png);
  background-repeat: no-repeat;
}

.name_block_small_img {
  vertical-align: top;
  margin-left: 60px;
}

.small_pic {
  width: 50px;
  border-radius: 25px;
  vertical-align: top;
}

.footer .footer-inner {
  padding-top: 35px;
}

.footer .section-title {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
  font-size: 13px;
}

.footer ul li {
  margin-bottom: 3px;
}

.footer {
  background-color: #676767;
  color: #fff;
  padding-bottom: 25px;
}

.gplus_share_small:hover, .gplus_share_small_fill {
  background-image: url(/img/gplus_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.twitter_share_small:hover, .twitter_share_small_fill {
  background-image: url(/img/twitter_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.fb_share_small:hover, .fb_share_small_fill {
  background-image: url(/img/fb_share_small_fill.png);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
}

.footer .footer-outer, .footer .footer-copyright {
  margin-top: 35px;
}

.footer .footer-outer, .footer .footer-copyright {
  margin-top: 35px;
}

/*****************************************************************/
/************ END: SUPPORT FOR SITE.CSS STYLES*******************/
/*****************************************************************/


/*****************************************************************/
/********************** START: SCREEN.CSS ************************/
/*****************************************************************/


/********* START : DESIGN LOGIC : COMPONENT STYLES **********/

.d-supportText, .a-systemHelp
	{color: #707070;}

.d-blockUnit
	{margin-bottom: 20px;}

.d-blockUnit.a-askQuestion
	{border-radius: 3px; padding: 20px;}

.a-askQuestion textarea
	{resize: none;}

.d-grayItem
	{background: #e5e5e5;}

.a-help
	{}

.d-title
	{font-weight: bold; margin-bottom: 10px;}

.d-whiteItem
	{padding: 10px; background-color: #fff; border-radius: 2px;}

.d-check
	{background-color: #24984D; padding: 2px;}

.d-check i
	{background: url(../../img/tick_white.png) no-repeat; display: inline-block; width: 20px; height: 20px;}

.d-4CharInput
	{width: 70px !important;}

.form-inline .d-4CharInput
	{display: inline-block;}

.form-inline div.radio
	{margin: 10px 0px;}

.form-inline > label , .d-alignAlongInputNormal
	{margin: 10px 0px;}

/********* END : DESIGN LOGIC : COMPONENT STYLES **********/


/*****************************************************************/
/********************** END: SCREEN.CSS ************************/
/*****************************************************************/

.a-slideContainer .a-slide {
	white-space: nowrap; position: relative;
	background-color: #ffffff; text-align: center; padding: 20px 0px;
}

.a-slideContainer .a-slide:before
	{
		content: " "; display: inline-block; height: 100%; vertical-align: middle;
		margin-right: -0.25em;
	}

.a-slide .a-slideContent
	{
		white-space: normal; display: inline-block; vertical-align: middle;
		width: 100%; max-width: 980px;
	}

.a-slide .a-nextSlide  {position: absolute; width: 100%; bottom: 15px; color: #ffffff;}

.a-slide.a-slide-half {max-height: 500px;}

.a-slideContent h1 {
	letter-spacing: 1px; font-size: 50px;
}

#specialityPage .a-slideContent h1 {
	font-size: 43px;
}

.a-slideContent .d-text
	{line-height: 1.6; text-align: left;}

.row.a-slide {margin-left: 0px; margin-right: 0px;}

.d-zeroGapContainer
	{margin-top: -20px; padding-left: 0px; padding-right: 0px; padding-top: 0px;}

.footer {border-top: 2px solid #f5f5f5;}


.d-zeroGapContainer .d-headerPadding
	{padding-top: 75px;}


.d-helpText {margin: 5px 0px; line-height: 1.3;}


/** Margin at the top to handle fixed navbar */
.a-curatedPage
	{margin-top: 70px;}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.btn, .btn-lg, .btn-sm, .btn-xs
	{border-radius: 0px;}

.a-slideContainer .d-bgImage {
 	background: url('/img/landing-page-background.jpg') no-repeat;
	background-size: cover; background-position: -210px center;
}

/* .a-slideContainer[data-speciality = 'sexologist'] .d-bgImage {
 	background: url('/img/consultPrivately-sexologist.jpg') no-repeat;
	background-size: cover; background-position: center center;
}

.a-slideContainer[data-speciality = 'dietitian'] .d-bgImage {
	background: url('/img/consultPrivately-dietician.jpg') no-repeat;
	background-size: cover; background-position: -45px center;
}
 */

@media (min-width: 1170px) {
	.a-slideContainer[data-speciality = 'sexologist'] .d-bgImage,
	.a-slideContainer[data-speciality = 'dietician'] .d-bgImage,
	.a-slideContainer .d-bgImage {
	 	background-position: 0 center;
	}
}

.nav>li>a:hover, .nav>li>a:focus {background-color: rgba(255, 255, 255, 0.3); border-color: rgb(116, 231, 252);}

@media (min-width: 768px) {
	.navbar-nav>li>a {padding-bottom: 13px; border-bottom: 3px solid transparent; padding-top: 18px;}
}

.d-noSidePadding {padding-left: 0px; padding-right: 0px;}

.a-qbilaFor span {margin-top: 10px; display: inline-block;}


body {font-family: MyriadPro-Light, 'Helvetica Neue', Georgia, 'Times new roman'; }

header .logo {
	font-size: 80px; display: inline-block; padding: 7px 25px 12px 25px;
	color: #ffffff; background: #0094FF; line-height: 1; border-radius: 0px 0px 16px 17px;
}

#qbila-slideOne .a-qbilaPunchline {text-transform: uppercase; font-size: 25px; margin-top: 0px;}

#qbila-slideOne .logo {
	color: #0094FF; background: rgba(255, 255, 255, 0.5); line-height: 1; color: #0172FC;
	padding: 5px 20px; margin: 0px; display: inline-block; font-size: 80px; border-radius: 5px;
}
/*border: 3px solid #0094ff;*/

#aboutQbila-Image .a-slideContent {
	font-weight: normal; font-size: 30px; margin-top: 15px; letter-spacing: 1px;
	word-spacing: 3px; margin-left: auto; margin-right: auto;
}

#qbila-slideOne {
	position: relative;
}

#qbila-slideOne canvas {
	display: block; vertical-align: bottom;
}

#qbila-background {height: 100%; width: 100%; position: absolute; top: 0px;}

#qbila-slideOne .a-qbilaVideo iframe {width: 400px; height: 245px;}

#qbila-slideOne .a-qbilaVideo .a-videoModal iframe {width: 750px; height: 430px;}
#qbila-slideOne .a-qbilaVideo .a-videoModal .modal-lg {width: 750px;}

@media (max-width:450px) {
	#qbila-slideOne .logo {
		font-size: 60px;
	}

	#qbila-slideOne .a-qbilaPunchline {font-size: 20px;}

	#aboutQbila-Image .a-slideContent {
		font-size: 22px;
	}

	.a-slideContent h1 {font-size: 40px;}

	#qbila-slideOne .a-qbilaVideo iframe {
	  width: 280px; height: 175px;
	}
}

.a-openVideoInModal {
	height: 100%; width: 100%; position: absolute; background: transparent; top: 0;
}

.modal-backdrop {background-color: #ffffff;}
.modal-backdrop.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
